<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{'myLabel'|translate}}!
  </h1>
  <c2c-select [displayMemberPath]="valueToShow" (update)="onSelectUpdate(item, $event)" [options]="statuses"></c2c-select>
  
</div>
 <a href=" https://codesandbox.io/s/form-ltr-rtl-using-sass-variable-fp033?file=/index.html:0-3608">Source</a>
 <a href="https://stackoverflow.com/questions/42433995/using-sass-in-angular-2">Using Sass in angular 2</a>
    <div id="app">
       <div class="container">
	   
		    <div class="box p-4"  myStyleAnchors [rtl]="rtl"   dir="rtl">
          <h2>RTL</h2>
		   <form action="...">
		     <div class="form-group">
              <label for="username" dir="rtl">اسم المستخدم</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="User name"
                value="Dino"
              />
            </div>
		     <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email address"
                value="user@server.com"
              />
              <small class="form-text text-muted"></small>
            </div>
		    <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="rememberme"
                checked
              />
              <label class="form-check-label" for="rememberme">
                Remember me</label
              >
            </div>
            <div class="form-group">
              <label for="age">My age</label>
              <input type="range" class="form-control-range" id="age" />
            </div>
		    <button type="button" class="btn btn-primary">Submit</button>
		   </form>
		  </div>
	   </div>
    </div>

    

