body {
  font-family: sans-serif; }

.container {
  width: 100%;
  display: flex; }

.box {
  padding: 2rem; }

[dir="rtl"] .form-group, [dir="rtl"] button {
  float: right; }

[dir="rtl"] input[type="checkbox"] {
  margin-left: 20px;
  margin-right: 0; }

.form-group {
  width: 100%;
  float: left;
  display: block;
  height: 50px;
  position: relative;
  padding: 12px 0 0 0; }

button {
  float: left; }

label:not(.form-check-label) {
  color: teal;
  position: absolute;
  top: 0; }

label {
  font-size: 11px; }

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid teal;
  width: 100%; }

input[type="checkbox"] {
  margin-right: 20px; }
